@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background: #020617;
color: white;
}


.glass {
backdrop-filter: blur(20px);
background: rgba(255,255,255,0.08);
border: 1px solid rgba(255,255,255,0.2);
}